# Auto detect text files and normalize line endings to LF
* text=auto

# Explicitly set line endings for specific files
*.sh text eol=lf
*.go text eol=lf
go.mod text eol=lf
go.sum text eol=lf
Dockerfile* text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary
*.db binary
