apiVersion: v1
kind: Service
metadata:
  name: {{ include "tesla-proxy.fullname" . }}
  labels:
    {{- include "tesla-proxy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      name: https
      {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
  selector:
    {{- include "tesla-proxy.selectorLabels" . | nindent 4 }}
